<app-nav></app-nav>
<!-- Add New Job s -->
<div class="main-container container-fluid">

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

        <h1 class="page-title">Job Details</h1>

        <!-- Button trigger modal -->
        <button class="add-btn" data-bs-toggle="modal" data-bs-target="#jobModal">
            <i class="fa-solid fa-plus"></i> Add New Job
        </button>

    </div>

    <!-- Grid View -->
    <div class="table-card">
        <div class="table-responsive">
            <table class="table table-bordered align-middle text-center">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>CTC</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Frontend Developer</td>
                        <th>
                            <select class="form-select">
                                <option selected value="" disabled>Select Location</option>

                                @for (item of jobLocationRes(); track item.value) {
                                <option [value]="item.value">
                                    {{ item.value }}
                                </option>
                                }
                            </select>
                        </th>
                        <td>
                            <span class="badge bg-success">Active</span>
                        </td>
                        <td>5 LPA</td>
                        <td>
                            <button class="action-btn edit-btn">
                                <i class="fa-solid fa-pen"></i> Edit
                            </button>

                            <button class="action-btn delete-btn">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>Backend Developer</td>
                        <th>
                            <select class="form-select">
                                <option selected disabled>Select Location</option>
                                <option>Noida</option>
                                <option>Delhi</option>
                                <option>Gurgaon</option>
                                <option>Mumbai</option>
                                <option>Bangalore</option>
                            </select>
                        </th>
                        <td>
                            <span class="badge bg-warning text-dark">Pending</span>
                        </td>
                        <td>6 LPA</td>
                        <td>
                            <button class="action-btn edit-btn">
                                <i class="fa-solid fa-pen"></i> Edit
                            </button>

                            <button class="action-btn delete-btn">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

<div class="modal fade" id="jobModal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Job</h5>

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <form [formGroup]="addNewJob" (ngSubmit)="SaveNewJob()">
                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">Job Title</label>
                        <input formControlName="jobTitle" type="text" class="form-control"
                            placeholder="Enter Job Title">

                        @if(addNewJob.controls['jobTitle'].invalid &&
                        addNewJob.controls['jobTitle'].touched){
                        <small class="text-danger">
                            Job Title is required
                        </small>
                        }
                    </div>
                    <div class="mb-3">
                        <!-- <select class="form-select" formControlName="jobLocation">
                            <option value="" selected disabled>Select Location</option>
                            <option [value]="item?.value" *ngFor="let item of jobLocationRes"> {{item.value}}
                            </option>
                        </select> -->
                        <select class="form-select" formControlName="jobLocation">
                            <option selected value="" disabled>Select Location</option>

                            @for (item of jobLocationRes(); track item.value) {
                            <option [value]="item.id">
                                {{ item.value }}
                            </option>
                            }
                        </select>
                        @if(addNewJob.controls['jobLocation'].invalid &&
                        addNewJob.controls['jobLocation'].touched){
                        <small class="text-danger">
                            Job Location is required
                        </small>
                        }
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select class="form-select" formControlName="status">
                            <option value="Active">Active</option>
                            <option value="Pending">Pending</option>
                            <option value="Closed">Closed</option>
                        </select>
                        @if(addNewJob.controls['status'].invalid &&
                        addNewJob.controls['status'].touched){
                        <small class="text-danger">
                            Job status is required
                        </small>
                        }
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label">CTC</label>
                        <input formControlName="ctc" type="text" class="form-control" placeholder="Enter Salary">

                        @if(addNewJob.controls['ctc'].invalid &&
                        addNewJob.controls['ctc'].touched){
                        <small class="text-danger">
                            Ctc is required
                        </small>
                        }
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success">
                        Save Job
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>